body {
  background-color: #07080b;
  color: #fefefe;
  margin: 0 15vw;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

img {
  width: 80vw;
  margin: 50px auto;
  display: block;
  border-radius: 8px;
}

li {
  margin-bottom: 1.2rem;
}

p {
  margin-bottom: 1.2rem;
}
